body {
    background: #ffffff;
    margin: 0;
    padding: 20px;
    display: grid;
    grid-template-columns: 20% 75%;

}

.printing {
    display: block !important;
}

.controls {
    background: white;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
    display:flex;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: start;
    gap: 15px;
    flex-wrap: wrap;
    width: 100%;
    max-width: 297mm;
    margin-right: 4rem;
}

label {
    font-weight: bold;
    width: 100%;
    margin-top: 20px;
}

input[type="number"],
select {
    padding: 5px 10px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 14px;
    width: 100%;
}

input[type="range"] {
    vertical-align: middle;
    width: 100%;
}

button {
    padding: 8px 16px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
    transition: 0.2s;
    width: 100%;
}

button:hover {
    opacity: 0.9;
    transform: translateY(-1px);
}

button:active {
    transform: translateY(0);
}

button:first-of-type {
    background: #1976d2;
    color: white;
}

button:last-of-type {
    background: #388e3c;
    color: white;
}


.fake-calendar {
    width: 100%;
    max-width: 297mm; /*297mm A4 ngang*/
    height: 210mm;
    aspect-ratio: 297/210;
    /* A4 ngang */
    background: white;
    box-sizing: border-box;
    page-break-after: always;
    /* border: 1px solid #ddd; */
    /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05); */
    margin: 0px auto;
}

.calendar {
    width: 100%;
    max-width: 300mm; /*297mm A4 ngang*/
    max-height: 210mm;
    aspect-ratio: 297/210;
    /* A4 ngang */
    background: white;
    box-sizing: border-box;
    page-break-after: always;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* border: 1px solid #ddd; */
    /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05); */
    margin: 0px auto;
    margin-top: 20px;
    /* background-image: url('../image/Artboard\ 7.png'); */
    /* background-size: contain; */
}

.calendar h2 {
    text-align: center;
    margin-bottom: 10px;
    color: #1976d2;
}

table {
    width: 100%;
    height: 100%;
    border-collapse: collapse;
    flex-grow: 1;
    table-layout: fixed;
}

th,
td {
    border: 1px solid #ccc;
    text-align: center;
    vertical-align: middle;
    padding: 5px;
    font-size: inherit;
    width: 14.28%;
    /* 100% / 7 ngày */
    box-sizing: border-box;
    height: 60px;
    text-align: center;
    vertical-align: middle;
    position: relative;
    font-family: 'fontNumber', sans-serif !important;
}
* > .solar-day {
    font-size: 65px !important;
}

td.sunday {
    /* background: #ffebee; */
    color: red;
    font-weight: bold;
}

td.saturday {
    background: white;
    color: #2D8FCE;
    font-weight: bold;
}


/* Ngày dương – to, ở giữa */
td .solar-day {
    font-size: 24px;
    font-weight: bold;
    line-height: 80px;
    margin-top: -20px;
    /* canh giữa theo chiều cao td */
}

/* Ngày âm – nhỏ, góc trên phải */
td .lunar-day {
    position: absolute;
    top: 4px;
    right: 6px;
    font-size: 12px;
    color: #000000;
}

.calendar-header {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: end;
    margin-bottom: 1rem;
    font-family: 'TitleFont', sans-serif !important;
    position: relative;

}

.calendar-header-year {
    /* font-weight: bold; */
    text-align: left;
    font-size: 55px;
    color: red;
    position: absolute;
    bottom: -10px;
}

.calendar-logo-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    justify-items: center;
}

.calendar-logo {
    width: 120px;
    height: 120px;
    margin-top: 20px;
}

.calendar-header-month {
    text-align: right;
    flex-grow: 1;
    text-transform: uppercase;
    font-size: 40px;
    color: red;
}
.calendar-header-month > *:first-child{
    font-size: 30px;
    font-weight: normal;
    text-transform: none;
    color: black;
}


/*********** Baseline, reset styles ***********/
input[type="range"] {
  -webkit-appearance: none;
  appearance: none;
  background: transparent;
  cursor: pointer;
}

/* Removes default focus */
input[type="range"]:focus {
  outline: none;
}

/******** Chrome, Safari, Opera and Edge Chromium styles ********/
/* slider track */
input[type="range"]::-webkit-slider-runnable-track {
  background-color: #add8e6;
  border-radius: 0.5rem;
  height: 0.5rem;
}

/* slider thumb */
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  margin-top: -4px; /* Centers thumb on the track */
  background-color: #808080;
  border-radius: 0.5rem;
  height: 1rem;
  width: 1rem;
}

input[type="range"]:focus::-webkit-slider-thumb {
  outline: 3px solid #808080;
  outline-offset: 0.125rem;
}

/*********** Firefox styles ***********/
/* slider track */
input[type="range"]::-moz-range-track {
  background-color: #add8e6;
  border-radius: 0.5rem;
  height: 0.5rem;
}

/* slider thumb */
input[type="range"]::-moz-range-thumb {
  background-color: #808080;
  border: none; /*Removes extra border that FF applies*/
  border-radius: 0.5rem;
  height: 1rem;
  width: 1.5rem;
}

input[type="range"]:focus::-moz-range-thumb{
  outline: 3px solid #808080;
  outline-offset: 0.125rem;
}